<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <div class="student-block">
        <h2>Student Management System</h2>
        <hr>
        <h2>Update Information</h2>
        <form action="#" th:action="@{/saveStudent}" th:object="${student}" method="POST">
        <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />
            
            <div class="form-group">
                <label for="first-name">First Name:</label>
                <input type="text" id="first-name" name="first-name" th:field="*{firstName}" required>
            </div>
            <div class="form-group">
                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" name="last-name" th:field="*{lastName}" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:field="*{email}" required>
            </div>
            
            <div class="form-group">
                <label for="department">Department:</label>
                <input type="text" id="department" name="department"  th:field="*{department}" required>
            </div>
            <button type="submit">Update</button>
        </form>
        <hr>
        <a th:href="@{/}"> Back to Student List</a>
    </div>
</body>

</html>